{% extends "users/layouts/users.html" %}
{% load static %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <style>
        .form-input{
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% block body-class %}
{% endblock %}

{% block header-class %}
{% endblock %}

{% block main %}
    <section id="main" class="container 75% containerMio">
        <header>
            <h2>Cambio Contraseña</h2>
        </header>

        <div class="box">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                       {% for error in field.errors %}
                            <div>{{ error }}</div>
                       {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-input">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>
                <div class="form-input">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    <p class="help">{{ form.new_password1.help_text|safe }}</p>
                </div>
                <div class="form-input">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li><input type="submit" value="Cambiar" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}